.about-container {
  display: flex;
  flex-direction: column; 
  align-items: flex-end;
  padding-top: 25px;
} 

.about-information {
  max-width: 1200px;
  width: 100%;
  font-size: 16px; 
}

.about-title {
  font-family: "Alura", serif;
  margin-bottom: 15px;
  color: #808080;
  font-style: italic;
  font-weight:600;
  letter-spacing: 1px;
}

.about-information {
  font-weight: 100;
  letter-spacing: -1px;
  margin-bottom: 15px;
} 


@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1158px) {
  .about-title {
    font-size: 36px;
  }
}
