.about-container {
  display: flex;
  flex-direction: column; 
  align-items: flex-end;
  padding-top: 25px;
}

.about-information {
  max-width: 600px;
  width: 100%;
  /* font-style: italic; */
  font-size: 16px; 
}

.about-title {
  margin-bottom: 15px;
  color: #FF0000;
}

.span-world {
  color: #FF0000;
  font-weight: 600;
}



.about-information {
  font-weight: 100;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1158px) {
  .about-title {
    font-size: 36px;
  }
}
