.details-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 15px;
}

.details-content {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.details-title {
    font-size: 18px;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    line-height: 1.4;
    letter-spacing: 0.05em;
}

.details-list {
    list-style-type: disc;
    padding: 16px;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.05em;
}

.details-image {
    max-width: 450px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}


@media screen and (min-width: 768px) {
    .details-container {    
        align-items: flex-start;
        flex-direction: row;
        gap: 20px;
    }

    .details-title {
        font-size: 22px;
    }

    .details-list {
        /* font-size: 16px; */
    }
}

@media screen and (min-width: 1158px) {
    .details-title {
        font-size: 36px;
        text-align: start;
    }

    .details-image {
        max-width: 500px;
        width: 600px;
    }

    .details-container {
        gap: 30px;
    }
}