.details-container {
    display: flex;
    align-items: stretch;
    gap: 25px;
}

.details-content {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.details-list {
    list-style-type: disc;
    padding: 16px;
    font-weight: 200;
}

.details-image {
    width: 100%;
    max-width: 600px;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1158px) {
    .details-title {
        font-size: 36px;
    }
}