.details-container {
    display: flex;
    flex-direction: column-reverse;
}

.details-content {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.details-title {
    font-size: 18px;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

.details-list {
    list-style-type: disc;
    padding: 16px;
    font-weight: 200;
    font-size: 14px;
}

.details-image {
    max-width: 450px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
}


@media screen and (min-width: 768px) {
    .details-container {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        gap: 20px;
    }

}

@media screen and (min-width: 1158px) {
    .details-title {
        font-size: 36px;
    }
}