/* Основний стиль футера */
.footer-block {
    padding: 56px 0;
    background-image:
    linear-gradient(to bottom,
            rgba(0, 0, 0, 0.583),
            rgba(0, 0, 0, 0.649)),
        url(../../images/background_images/main-background.JPG);
    background-position: center;

}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 52px;
}

.text-footer-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-maintext {
    line-height: 1.4;
    letter-spacing: 0.05em;
}

.decorate-item {
    color: #ff0000;
}

.footer-text {
    font-weight: 100;
    font-size: 12px;
    line-height: 1.4;
    letter-spacing: 0.05em;
}

.footer-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    line-height: 1.4;
    letter-spacing: 0.05em;
}


.footer-social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-title {
    margin-bottom: 15px;
    line-height: 1.4;
    letter-spacing: 0.05em;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 16px;
}

.footer-subtext {
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    padding: 5px 0;
    margin-top: 65px;
    line-height: 1.4;
    letter-spacing: 0.05em;
}

.footer-list {
    font-size: 14px;
}


@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 72px 44px;
    }

    .footer-text {
        max-width: 300px;
    }

    .footer-block {
        background-position: right;
    }

}

@media screen and (min-width: 1158px) {
    .footer-block {
        /* padding: 20px 0; */
    }

    .footer-container {
        align-items: baseline;
        justify-content: space-between;
        font-size: 18px;
        gap: 30px;
    }

}