
.main-portfolio {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    line-height: 1.29;
    letter-spacing: 0.03em;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 35px;
    padding: 15px 0;
    scroll-behavior: smooth;
}

.slider-item {
    scroll-snap-align: center;
    flex-shrink: 0;
    /* width: 400px;
    max-width: 350px;
    height: 500px; */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #e8e8e8;
    border: 1px solid #fff;
}

.slider-item:hover,
.slider-item:focus {
    transform: scale(1.2, 1.3);
        transition: 0.7s;
        cursor: pointer;
        position:absolute;
       

}

.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (min-width: 768px) {
    .main-portfolio {
        display: flex;
        justify-content:flex-end;
        font-size: 22px;
    }

    .slider-item {
        max-width: 450px;
    }
}

@media (min-width: 1024px) {
    .main-portfolio {
        font-size: 32px;
    }

    .slider-item {
        max-width: 550px;
    }
}
