/* ------------ */
.nav-menu, .adress-info {
    display: none;
}

.page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    color: #fff;
}

.page-header {
    padding: 20px 0 14px;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.logotype {
    display: flex;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.29;
    letter-spacing: -0.03em;
    text-transform: lowercase;
    font-family: "Allura", sans-serif;
}

.logotype-span {
    color:red;
    font-weight: 600;
}

.logotype-icon {
    margin-left: 4px;
}

.open-mobile-menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.mobile-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7777;
    padding: 20px;
}

.mobile-menu-close-btn {
    display: flex;
    justify-content: flex-end;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.mobile-menu-close-icon {
    stroke: #fff;
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 30px;
    border-radius: 20px;
    background-color: #000000;
    border: 1px solid white;
}

.nav-list-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-weight: 600;
}

.nav-social-mobile {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.nav-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.nav-social-icon {
    stroke: #ff0000;
    fill: #fff;
}

.nav-text {
    text-align: center;
    font-family: "Allura", sans-serif;
    font-size: 22px;
    line-height: 1.4;
    letter-spacing: 0.05em;
    color: #ff0000;
}

/* -------------------- */
.mobile-menu.active {
    opacity: 1;
    visibility: visible;
}

.mobile-menu {
    display: none;
}

.mobile-menu.active {
    display: block;
}
/* -------------------- */


@media screen and (min-width: 768px) {
    .open-mobile-menu-btn {
        display: none;
    }

    .page-header-container {
        display: flex;
    }

    .nav-menu {
        display: flex;
        justify-content: center;
        gap: 20px;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: 0.05em;
    }

    .nav-menu a {
        display: inline-block;
        border-radius: 4px;
        padding: 8px;
        transition: background-color 0.8s ease;
    }

    .nav-menu a:hover {
        background-color: #d50000;
    }

    .adress-info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: space-between;
        align-items: flex-start;
    }

    .adress-alignment {
        font-size: 12px;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 6px;
        line-height: 1.4;
        letter-spacing: 0.05em;
    }

    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        align-items: center;
    }

}

@media screen and (min-width: 1158px) {
    .page-header-container {
        padding: 0 68px;
    }

    .logotype {
        margin-right: 35px;
    }

    .nav-menu {
        gap: 40px;
    }
    
    .adress-info {
        flex-direction: row;
        gap: 20px;   
    }

    .adress-alignment {
        font-size: 12px;
    }
}