.main-menu {
    padding: 320px 0;
    background-image:
        url(../../images/background_images/ira_aboutt.PNG);
    text-align: center;
    background-position: center;
    height: 800px;
}

.socail-media {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 15px;
    margin-top: 55px;
}

.main-title {
    font-size: 22px;
    margin: 15px;
}

.main-subtitle {
    color: #808080;
    text-transform: uppercase;
    font-family: "Yeseva One", serif;
}

.span {
    color: red;
}

.main-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
    list-style-type: disc;
    font-size: 12px;
}


@media screen and (min-width: 768px) {}

@media screen and (min-width: 1158px) {
    .main-title {
        font-size: 66px;
    }

    .main-subtitle {
        font-size: 26px;
    }
}