.main-menu {
    padding: 310px 0;
    background-image:
        url(../../images/background_images/main-background.JPG);
    text-align: center;
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.main-title {
    font-size: 26px;
    margin: 15px;
    line-height: 1.4;
    letter-spacing: 0.05em;
}

.main-subtitle {
    color: #808080;
    text-transform: uppercase;
    font-family: "Yeseva One", serif;
    line-height: 1.4;
    letter-spacing: 0.05em;
}

.span {
    color: #ff0000;
}

.main-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
    /* text-decoration: underline; */
    font-size: 18px;
    font-family: "Allura", sans-serif;
    font-weight: 200;
    line-height: 1.4;
    letter-spacing: 0.05em;
}

.main-list:hover,
.main-list:focus {
    color: #ff0000;
    transform: scale(1.2, 1.4);
    transition: 0.7s;
    cursor: pointer;
}

.icon-map {
    stroke: #ff0000;
    fill: #ff0000;
}   

.main-location {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 25px;
    font-weight: 200;
    line-height: 1.4;
    letter-spacing: 0.05em;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    .main-menu {
        background-position: left;
    }

    .main-title {
        font-size: 36px;
    }

    .main-subtitle {
        font-size: 20px;
    }

    .icon-map {
        stroke: #ff0000;
        fill: #ff0000;
    }
}

@media screen and (min-width: 1158px) {
    .main-title {
        font-size: 58px;
    }

    .main-subtitle {
        font-size: 38px;
    }

    .main-list {
        font-size: 25px;
    }

    .main-location {
        font-size: 16px;
    }


}