    .text-history {
        display: flex;
        align-items: stretch;
        gap: 20px;
    }

    .text-text {
        flex: 1;
        max-width: 600px;
        font-size: 16px;
    }

    .image-container {
        max-width: 50%;
        /* Встановлює максимальну ширину контейнера */
        overflow: hidden;
        /* Сховає все, що виходить за межі контейнера */
    }

    .images-history {
        /* width: 100%; */
        /* Зображення займає всю ширину контейнера */
        height: 20%;
        /* Зберігає пропорції зображення */
        object-fit: cover;
        /* Запобігає спотворенню, обрізає зайве */

    }

@media (max-width: 768px) {

}