body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #ffff;
    background-color: #000000;
    /* margin-top: 25px; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

svg {
    outline: none;
    transition: fill 0.7s ease;
    fill: #000000;
    ;
    stroke: #fff;
}

svg:hover {
    fill: #ff0000;
}

address {
    font-style: normal;
}

.decorative-line {
    width: 80%;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    margin: 10px auto;
}

